@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* background: linear-gradient(45deg, #5a1a14, #d31215); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: #fff;
    position: relative;
}

h1 {
    font-size: 120px;
    display: none;
}

.controller {
    position: absolute;
    bottom: 30px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    font-size: 18px;
}

input {
    width: 80px;
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: #BA1B1D;
    text-align: center;
    color: #fff;
}

input:focus {
    outline: none;
}


/* smartphone */
@media (max-width: 500px) {
    body {
        background: linear-gradient(45deg, #73df52, #088b73);
    }

    h1 {
        font-size: 14px;
        display: block;
    }
    input {
        background-color: #73df52;
    }
}

/* tablet */
@media(min-width: 501px) and (max-width: 768px) {
    body {
        background: linear-gradient(45deg, #eb9a59, #c67c06);
    }
    
    h1 {
        font-size: 32px;
        display: block;
    }

    input {
        background-color: #a96c0a;
    }
}

/* normal */
@media (min-width: 769px) and (max-width: 1200px) {
    
    body {
        background: linear-gradient(45deg, #cc6fc6, #d80dd2);
    }
    
    h1 {
        font-size: 60px;
        display: block;
    }

    input {
        background-color: #d80dd2;
    }
}

/* wide */
@media (min-width: 1201px) {
    body {
        background: linear-gradient(45deg, #e4065b, #70046c);
    }
    
    h1 {
        font-size: 118px;
        display: block;
        /* color:#0d90ee; */

    }

    input {
        background-color: #e4065b79;
    }
}

